@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {


    --cor0:  #401A5C;
    --cor01: #BA83E1;
    --cor02: #993EDB;
    --cor03: #4C355C;
    --cor04: #762FA8;




}

*{

    margin: 0px;
    padding: 0px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor01);
    padding: 10px;
    box-shadow:6px 0px 10px 3px;

}


.menu-item{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    
   
}
li a {
    
    text-decoration: none;
    color: white;
    font-family: 'Bebas';
    font-size: 20px;

}



.button {
    background-color: var(--cor0);
    border-radius: 0px 1px 1px 17px;
    width: 88px;
    line-height: 24px;
    padding: 5px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    
    background-image: url(assets/photo-1532302693556-4e52818e4922.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: auto;
     
} 

.conteudo-principal {
    text-align: left;
    text-indent: 10px;
}

.conteudo-principal h1 {

    font-size: 50px;
}

.button-secundario {
    background-color: var(--cor0);
    border: none;
    box-shadow: 2px 2px 2px black;
    border-radius: 10px 20px;
    color: white;
    padding: 10px;
    margin: 8px;
    font-family: 'Bebas';
}
.button-secundario:hover {
    background-color: var(--cor01);
    

}
.link {
    color: white;
    text-decoration: none;
}




