@charset "UTF-8";

/* pesquisar sobre Typical Device breakpoints 
-------------------------------

pequenas telas: até 600px
 - celular: de 600px até 768px
 - desktop:992px até 1200px
 - tablet : 769 px até 992px
 - grandes telas: acima de 1200px

*/

@media  screen and (min-width:768px) {

    #burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
        
    }
    
    main {
        width: 768px;
    }
}